body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
}

form {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

p {
    display: inline;
}

input {
    margin: 5px;
}

select {
    margin: 5px;
    padding: 2px;
}
 #diem {
    display: inline;
    padding: 4px;
    border: 1px solid #000;
 }

 #xeploai {
    display: inline;
    padding: 4px;
    border: 1px solid #000;
 }

button {
    margin-top: 20px;
}