body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
}

form {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h3 {
    color: rgb(255, 110, 127);
    margin: 0px 0px 10px 0px;
}

p {
    display: inline;
}

input {
    margin: 6px;
}

select {
    margin: 5px 20px 2px 50px;
    padding: 2px;
    color: red;
}
 #diem {
    margin: 10px 0 10px;
 }

 #xeploai {
    display: inline;
    padding: 4px;
    border: 1px solid #000;
 }

button {
    margin: 10px 0px 10px 60px;
}

button:hover {
    background-color: rgb(106, 207, 106);
}